body,
html{
  height: 100%;
  width: 100%
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 3rem
}

h2 {
  font-size: 2rem
}

header.startup {
  background-position: center;
  background-image: url("background.jpg");
  background-size: cover;
  height: 100%;
}

.btn {
  border-radius: 50px;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #40E4E6;
  border-color: #40E4E6; }

.btn-primary:hover {
  background-color: #E51A84;
  border-color: #E51A84;
  border-width: 1px;
  cursor: pointer;
}
